<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script defer src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
   <script defer src="{{ url_for('static', filename='main.js') }}"></script>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <!-- <link rel="stylesheet" href="../static/style.css"> -->

   <title>Document</title>
</head>

<body>
   <h1>FRÜHSTÜCK-CHECK</h1>
   <h2 id="title">Wie <span id="titleType"> gesund </span> ist dein Frühstück?</h2>
   <div id="rangefield">
      <div> Hier Lebensmittel reinlegen zum Menge ändern </div>
      <input id="range" type="range" min="1" max="10" step="1.0" value="0">
   </div>
   <div id="infoField"></div>
   <div id="wrapper">
      <canvas class="box" width="800" height="600" style="border:1px solid #000000;"></canvas>
   </div>
   <button id="resetRange">Regler zurücksetzen</button>
   <button id="resetValue">Werte zurücksetzen</button>
</body>

</html>
<!-- <div id="foodSpace">
   <div> 
      <span class="foodField"></span>
      <span class="foodField"></span>
   </div>
   <div>
      <span class="foodField"></span>
      <span class="foodField"></span>
   </div>
   <div>
      <span class="foodField"></span>
      <span class="foodField"></span>
   </div>
   <div>
      <span class="foodField"></span>
      <span class="foodField"></span>
   </div>
</div> -->