@font-face {
   font-family: "Muli";
   src: url(./fonts/Muli-Regular.ttf) format("truetype");
}

@font-face {
   font-family: "Muli Black";
   src: url(./fonts/Muli-Black.ttf) format("truetype");
}

@font-face {
   font-family: "Muli SemiBold";
   src: url(./fonts/Muli-SemiBold.ttf) format("truetype");
}

#cameraZone {
   width: 1280px;
   height: 720px;
   border: solid 2px black;
}

h1,
h2 {
   position: absolute;
   left: 402px;
}
h1 {
   top: 4px;
   font-size: 48px;
   font-family: "Muli Black", sans-serif;
}

h2 {
   top: 70px;
   font-size: 26px;
   font-family: "Muli SemiBold", sans-serif;
}

h2 > span {
   color: #b0c393;
   font-size: 30px;
   font-family: "Caveat", sans-serif;
}

h3 {
   font-family: "Muli SemiBold", sans-serif;
   font-size: 36px;
}

.box {
   /* position: absolute; */
   border: solid 2px #000000;
}

#rangefield {
   position: absolute;
   color: #acacac;
   top: 0;
   left: 0;
   width: 290px;
   height: 410px;
   margin: 40px;
   background-image: url(./img/waage.png);
   background-repeat: no-repeat;
}

#rangefield > div {
   display: flex;
   margin: auto;
   justify-content: space-evenly;
   text-align: center;
   align-items: center;
   padding: 40px;
   height: 200px;
}

#foodSpace {
   position: absolute;
   display: flex;
   flex-direction: column;
   background-color: #b0c393;
   width: 236px;
   right: 0;
   height: 100%;
}

#foodSpace > div {
   display: flex;
   justify-content: space-evenly;
   height: 100%;
   align-items: center;
}

.foodField {
   display: flex;
   width: 50px;
   height: 50px;
   border-radius: 25px;
   background-color: #545e44;
   width: 90px;
   height: 90px;
   border-radius: 51px;
}

.dataItem {
   display: flex;
   justify-content: space-between;
}

#wrapper {
   position: relative;
   width: 1280px;
   height: 720px;
   /* border: solid 2px black; */
}

.dataWrapper {
   /* background-color: #8ac626; */
   border-radius: 6px;
   font-size: 18px;
   padding: 2px;
   /* color: white; */
   position: absolute;
   width: 190px;
   z-index: 1;
}

#range {
   margin-top: 50px;
   margin-left: 60px;
   position: relative;
   bottom: 0px;
   z-index: 10;
}

body {
   font-family: "Muli", sans-serif;
   font-size: 16px;
   margin: 0;
   padding: 0;
}

.value > li {
   list-style-type: none;
}

#titleType {
   color: #8ac626;
}

#infoField {
   position: absolute;
   top: 0;
   right: 0;
   padding: 20px;
   width: 300px;
   height: 672px;
   background: linear-gradient(to right, #666666 4px, transparent 4px) 0 0,
      linear-gradient(to right, #666666 4px, transparent 4px) 0 100%,
      linear-gradient(to left, #666666 4px, transparent 4px) 100% 0,
      linear-gradient(to left, #666666 4px, transparent 4px) 100% 100%,
      linear-gradient(to bottom, #666666 4px, transparent 4px) 0 0,
      linear-gradient(to bottom, #666666 4px, transparent 4px) 100% 0,
      linear-gradient(to top, #666666 4px, transparent 4px) 0 100%,
      linear-gradient(to top, #666666 4px, transparent 4px) 100% 100%;
   background-repeat: no-repeat;
   background-size: 20px 20px;
   margin: 20px 5px 20px 5px;
}

.dataTableWrapper,
.table-container {
   margin: 25px 0 15px 15px;
   /* font-size: 25px; */
   /* color: #7fd105; */
   align-items: center;
   display: flex;
   justify-content: space-between;
}

.is-hidden {
   opacity: 0;
}

/*table td,
table th {
   width: 100px;
} */
