#cameraZone {
   width: 1280px;
   height: 720px;
   border: solid 2px black;
}

.box {
   /* position: absolute; */
   border: solid 2px rgb(0, 0, 0);
}

#rangefield {
   position: absolute;
   top: 0;
   left: 0;
   width: 300px;
   height: 300px;
   margin: 6px 0 0 6px;
   border-radius: 6px;
   background: linear-gradient(to right, #666666 4px, transparent 4px) 0 0,
      linear-gradient(to right, #666666 4px, transparent 4px) 0 100%,
      linear-gradient(to left, #666666 4px, transparent 4px) 100% 0,
      linear-gradient(to left, #666666 4px, transparent 4px) 100% 100%,
      linear-gradient(to bottom, #666666 4px, transparent 4px) 0 0,
      linear-gradient(to bottom, #666666 4px, transparent 4px) 100% 0,
      linear-gradient(to top, #666666 4px, transparent 4px) 0 100%,
      linear-gradient(to top, #666666 4px, transparent 4px) 100% 100%;
   background-repeat: no-repeat;
   background-size: 20px 20px;
   background-color: #8ac626;
}

#wrapper {
   position: relative;
   width: 1280px;
   height: 720px;
   border: solid 2px black;
}

.dataWrapper {
   position: absolute;
   width: 200px;
}

#range {
   position: relative;
   bottom: 0px;
}

body {
   margin: 0;
   padding: 0;
}

.value > li {
   list-style-type: none;
}
